
<div class="container mt-3">
    <h2>Sign in or create an account</h2>
    <form action="/action_page.php">
      <div class="mb-3 mt-3" >
        <label for="email">Email:</label>
        <input type="email"
        class="form-control"
        id="email"
         placeholder="Enter email"
          [(ngModel)]="email"
          name="email"
          required>
      </div>
      <div class="mb-3">
        <label for="pwd">Password:</label>
        <input type="password"
         class="form-control"
          id="pwd"
          placeholder="Enter password"
           [(ngModel)]="password"
            name="psw"
             required>
      </div>
      <div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      <button type="submit" class="btn"><a  class="btn" href="home">Sign in </a></button>
      <br>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </form>
  </div>
