<div class="section1">
</div>
<div class="container">
    <h4><b> Misr Cafe`</b></h4>
    <p>
Buying on Misr Cafe` is really easy. Navigation through categories, searching for specific products and product selection are simple. Where multi payment options are supported for all of your needs. Get started by following some simple steps: <br>

[1] Search and explore products <br>

[2] Learn about the product, and Add to cart <br>

[3] Review your shopping cart after Signing in,  and  checkout <br>

[4] Place your order <br>

[5] Congrats! Track your order until it's delivered to your door
    </p>
    <h4><b>1- Search and explore products</b></h4>
    <p>
Tip 1: If you're looking for a specific product, use the keyword search box located at the top of the site. Simply type what you are looking for, and prepare to be amazed! <br>
 
Tip 2: If you want to explore a category of products, choose from the category menu the first choice "All". <br>

Tip 3: Or just explore through our home page and prepare to be surprised by the latest and best deals. <br>
 
Tip 4: While exploring and searching, check out the key info we display under each product. You may also use our various sorting methods, and the filters on the left to narrow down the results to fit your needs - as per product features and price. Click on the product you want to learn more about and get ready to buy.
    </p>
    <h4><b>2- Learn about the product, and Add to cart</b></h4>
    <p>Check out the product details, images, specs, videos, and customer reviews. We feature the best seller so click "Add to cart" if the price and seller rating are convenient for you, or explore the "see more" box for more buying options and further sellers and product conditions for all needs.</p>
    <h4><b>3- Review your shopping cart after Signing in,  and  checkout</b></h4>
    <p>Tip 1: After signing in, review your cart and click "Proceed to checkout". Just make sure that all products you want to buy now are there in the shopping cart, and those you want to buy later, if any, are moved to the "Wishlist".</p>
    <h4><b>4- Place your order</b></h4>
    <p>Tip 1: Provide your address details, where you would like us to deliver your order, and click "Save". <br>
        Tip 2: Review the address and shipping services selected as well as the delivery period. Click "Next". <br>
        Tip 3: Select your favorite payment method from the convenient payment options we provide. When selecting a Credit Card, fill out your card details. Once done, just click "Place Order".</p>
    <h4><b>5- Congrats! Track your order until it's delivered to your door</b></h4>
    <p>Wondering what happened to your order? Worry not, with Espresso Club Egypt you have an option to check the progress of the shipment, so you won't lose track of your order. Just navigate to "My Orders" to check the status of your orders, where you may also provide your feedback upon delivery.
        Espresso Club Egypt works with trusted logistics and fulfillment partners to deliver your products to your door as fast as possible, and in the safest conditions.
        Get prepared to turn into an online Coffee shopping addict! Make sure you visit us again to explore some more fabulous products!</p>    
</div>