/* General styling for cart */

*{
  margin-bottom: 20px;
}
.card{
  height: 500px;
}
.cart-heading {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.empty-cart-message {
  text-align: center;
  font-size: 18px;
  color: #777;
}

.cart-items {
  justify-content: center;
}

.cart-item-card {
  transition: transform 0.3s ease;
}

.cart-item-card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 200px;
  object-fit: contain;
  border-bottom: 1px solid #eee;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.quantity{
    color: #cd5b0d;
    font-size: larger;
}

.item-description {
  font-size: 0.9rem;
  color: #666;
}

.total-price {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
}

.cart-summary {
  text-align: center;
  margin-top: 20px;
}

.clear-cart-btn {
  width: 150px;
  margin-top: 10px;
}
