.section1 {
    background-image: url(Picture3.png);
    width: 1519px;
    height: 100vh;
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat; 
}
.section2{
    height: 150vh;
    padding-top: 150px;
    
}
h1{
    color: #CD5B0D;
    font-family:serif;

}
