<div class="section1"></div>
<div class="section2 container">
    <h1>Give us a call</h1>
    <h4>Tel: 16460</h4>
    <h1>Send us an email</h1>
    <h4>E-mail: infomisrcafe.com </h4>
    <h1> Let’s get social!</h1>
    <h4>Share with us your Coffee moments on:</h4>
    <h1><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"style="color:#CD5B0D;"></i></a>__<a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"style="color:#CD5B0D;"></i></a></h1>

</div>
<i class="fa-duotone fa-solid fa-t-rex" ></i>