<div class="section4">
    <div class="footer container">
<ul>
    <li><span>Espresso Club Egypt</span></li>
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/contactus">Contact Us</a></li>
    <li><a href="/login">Login</a></li>
</ul>
<ul>
    <li><span>Customer Services</span></li>
    <li><a href="/privacy">PRIVACY POLICY</a></li>
    <li><a href="/buy">How to Buy</a></li>
</ul>
<ul>
    <li><span>FOLLOW US</span></li>
    <li>Phone: 01264689347</li>
    <li>Email: infomisrcafe.com</li>
    <li>Cairo - Egypt</li>
    <div class="icon">
    <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
</div>
</ul>
</div>
</div>