
<div class="container">

  <div class="row mt-5 ">
    <div class="col-md-3  mt-5 card p-4 m-5 d-flex justify-content-center " *ngFor="let product of  dataContainer">
      <div class="card h-100">
        <a class="d-flex justify-content-center" href="#"><img src={{product.image}} class="imgW"></a>
        <div class="card-body text-center">
          <h5 class="card-title">{{ product.desc }}</h5>
          <p class="card-text">{{ product.price}}</p>
              <div class="btn btn-bg" (click)="addToCart(product)">Add to Cart</div>
        </div>
      </div>
    </div>
  </div>
</div>
