<div class="container">
  <div class="row mt-5 ">
    <div class="col-md-3  mt-5 card p-4 m-5 d-flex justify-content-center " *ngFor="let item of products">
      <div class="card h-100">
        <a class="d-flex justify-content-center" href="#">
          <img src={{item.image_url}} class="imgW">
        </a>

          <div class="card-body text-center">
            <p class="mt-3 flavor">{{item.flavor_profile}}</p>
            <p class="iname mt-5">{{item.name }}</p>
            <h6>{{item.price}} EGP</h6>

          <div class="btn btn-bg" (click)="addToCart(item)">Add to Cart</div>
          </div>
      </div>
    </div>
  </div>
</div>













