.slider-container {
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}
.label_text{
  text-align: center;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

img {
  width: 100%;
  border-radius: 10px;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button.prev {
  left: 0;
}

button.next {
  right: 0;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.typed-string {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin: 20px;
  background-color: grey;
}
