.section1 {
    background-image: url(section1.png);
    width: 1519px;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.section4{
    background-image: url(Picture12.png);
    width: 1519px;
    height: 110vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 0px;
}
.section3{
  background-image: url(section3.png);
    width: 1519px;
    height: 115vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
}
.slider-container {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    padding-top: 110px;
  }
  .label_text{
    text-align: center;
    color: black;
    font-size: 30px;

  }

  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    border-radius: 10px;
  }

  button.prev,
  button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
    color: #cd5b0d;
    border:#cd5b0d solid 2px !important;
    padding: 10px;
    cursor: pointer;
  }

  button.prev {
    left: 0;
  }

  button.next {
    right: 0;
  }

  button:hover {
    background-color: #cd5b0d;
    color: white;
  }

  .typed-string {
    color: #cd5b0d;
    font-size: 1.5rem;
    text-align: center;
    margin: 30px;
    font-size: 38px;
  }
  .btn{
  color: #cd5b0d;
  border:#cd5b0d solid 2px
}
.btn:hover{
  background-color: #cd5b0d;
  color: white;
}
